.photo-grid {
    max-width: 100%;
    margin: 92px 48px 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
    gap: 16px;
    }

@media screen and (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(225px, 1fr));
        gap: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        margin: 88px 24px 0;
        grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(264px, 1fr));
        gap: 16px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        margin: 64px 18px 0;
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(216px, 1fr));
        gap: 16px;
    }
}