.header__logo {
    background-image: url(../../../images/header-logo.svg);
    width: 176px;
    height: 52px;
    margin: 0;
    padding: 0;
    background-size: cover;
}

@media screen and (max-width: 767px) {
    .header__logo {
        background-image: url(../../../images/__logo_mobile.svg);
        width: 142px;
        height: 42px;
    }   
}